.bgIcon,
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1641.5px;
  height: 1083px;
}
.rectangle {
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 300px;
  height: 45px;
}
.userIcon,
.username1 {
  position: absolute;
  top: 13px;
}
.username1 {
  left: 51px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 300;
}
.userIcon {
  left: 12px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.lockIcon,
.username {
  position: absolute;
  top: 169px;
  left: 0;
  width: 300px;
  height: 45px;
}
.lockIcon {
  height: 44.44%;
  width: 6.67%;
  top: 28.89%;
  right: 89.33%;
  bottom: 26.67%;
  left: 4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.password,
.rectangle2 {
  position: absolute;
  top: 234px;
  left: 0;
  width: 300px;
  height: 45px;
}
.rectangle2 {
  top: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.login {
  position: absolute;
  top: 13px;
  left: 123px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.forgotPassword,
.loginBtn {
  position: absolute;
  font-size: var(--font-size-base);
}
.loginBtn {
  top: 322px;
  left: 0;
  width: 300px;
  height: 45px;
  color: var(--color-royalblue);
}
.forgotPassword {
  top: 378px;
  left: 154px;
  font-weight: 500;
}
.groupIcon {
  position: absolute;
  height: 25.44%;
  width: 41.05%;
  top: -0.47%;
  right: 29.58%;
  bottom: 75.04%;
  left: 29.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.form {
  position: absolute;
  top: 161px;
  left: 490px;
  width: 300px;
  height: 398px;
}
.dashboardLogin {
  position: relative;
  background-color: var(--color-royalblue);
  width: 100%;
  height: 720px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
